.App {
  text-align: center;
  background-color: #020D29;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  background-color: #0a0c32;
}

.App-body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  margin:2rem;
  flex-grow: 1;
  height: 100vh;
}

input {
  background-color: #020D29;
  height: 2rem;
  width: 20rem;
  font-size: 14px;
  color: #3f4e6a;
  border: 1px solid #020D29;
  margin: 1rem 2rem;
}

input::placeholder {
  color: #3f4e6a;
  margin-left: 1rem;
}

img {
  height: 15rem;
  width: inherit;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  
}

.tag {
  background-color: #e6f1fe;
  color: #438cfc
}

.details {
  color: #9e9da0;
  margin: 2px;
}

.title {
  font-weight: bold;
  margin: 2px;
}

.genre {
  flex-grow: 1;
  margin: 2px;
}

.card {
  background-color: white;
  margin: 1rem;
  font-size: 12px;
  width: 12rem;
  height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

